<div class="passwordBox animated fadeInDown">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox-content">
                <h2 class="font-bold">Reset hasła</h2>
                <p>
                    Wprowadź swój adres e-mail, na Twoją pocztę zostanie wysłana wiadomość z linkiem resetującym hasło
                </p>
                <div class="row">
                    <div class="col-lg-12">
                        <form class="m-t" role="form" action="index.html">
                            <div class="form-group ">                                
                                <input class="form-control" placeholder="E-mail" data-val="true" data-val-email="Wartość w polu E-mail nie jest prawidłowym adresem e-mail." data-val-required="Pole Email jest wymagane." id="Email" name="Email" type="email" value="">
                            </div>
                            <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
                                <ul class="unstyled p-w-xs">
                                    <li style="display:none"></li>
                                </ul>
                            </div>
                            <button type="submit" class="btn btn-primary block full-width m-b">Wyślij wiadomość</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>    
</div>
