<div class="passwordBox animated fadeInDown">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox-content">
                <h2 class="font-bold">Wysłano</h2>
                <p>
                    Na podany adres e-mail został wysłany odnośnik umożliwiający kontynuowanie procesu zmiany hasła
                </p>                
            </div>
        </div>
    </div>
    <hr>
</div>
