<div class="loginColumns animated fadeInDown">
    <div class="row">
        <div class="col-md-6">
            <h2 class="font-bold">Witaj w Panelu Klienta XSale</h2>
            <p>
                <!--Opis-->
            </p>            
            <p>
                <!--Logo-->
            </p> 
            <p>
                <!--<small>post scriptum</small>-->
            </p>
        </div>
        <div class="col-md-6">
            <div class="ibox-content">
                <form class="m-t" role="form" action="index.html">
                    <div class="form-group">
                        <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                        <input class="form-control valid" data-val="true" placeholder="Login" data-val-email="Wartość w polu Email nie jest prawidłowym adresem e-mail." data-val-required="Pole Email jest wymagane." id="Email" name="Email" type="text" value="">
                    </div>
                    <div class="form-group">
                        <input class="form-control valid" data-val="true" placeholder="Hasło" data-val-required="Pole Password jest wymagane." id="Password" name="Password" type="password">
                        <span class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                    </div>
                    {% for Error in ValidationErrors %}
                        <p class="text-danger">{{Error}}</p>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary block full-width m-b">Zaloguj się</button>
                    <a href="/Account/ForgotPassword?dbId={{dbId}}&orgShortName={{DbOrgName}}">
                        <small>Zapomniałeś hasła?</small>
                    </a>                    
                </form>                
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <!--Stopka lewy-->
        </div>
        <div class="col-md-6 text-right">
            <!--Stopka prawy
            <small>© 2017</small>-->
        </div>
    </div>
</div>