{% for category in Categories %}
<li class="dd-item" data-id="{{category.Id}}" data-urlname="{{category.Url_name}}">
    {% if  category.Has_child == true %}    
        <button data-action="collapse" type="button" style="display: none;">Collapse</button><button data-action="expand" type="button" style="">Expand</button>
    {% endif %}    
    <div class="dd-handle">
        <span class="label label-info"><i class="fa fa-bookmark"></i></span> {{category.Name}}
    </div>
    <ol class="dd-list"></ol>    
</li>
{% endfor %}
